<div class="wrapper">
  <div class="header">
    <div class="header-menu">
      <div class=" tabViewHeader mobHeader">
        <nav class="navbar navbar-expand-md navbar-dark">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-color cr-poniter">home</mat-icon>
          <span class="verticalBar"></span>
          <a class="navbar-brand">ONEMINDINDIA</a>
          <span class="verticalBar"></span>
        </nav>
      </div>
    </div>
  </div>
  <div class="content">
    <div style="min-height:500px;">
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="footer" >Privacy Policy | Site © 2020 Onemindindia. All Rights Reserved</div>
</div>